<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412269707797-ap5o8j1cds4u7364rq4nq67p7ouc00ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412269707797-ap5o8j1cds4u7364rq4nq67p7ouc00ih</string>
	<key>API_KEY</key>
	<string>AIzaSyDbQ_MJQWGW4RY_it-cuaeXIyu3VjPZIds</string>
	<key>GCM_SENDER_ID</key>
	<string>412269707797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.spotiquiz</string>
	<key>PROJECT_ID</key>
	<string>spotiquiz-26a6d</string>
	<key>STORAGE_BUCKET</key>
	<string>spotiquiz-26a6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412269707797:ios:d81f5f893378b82c28c41c</string>
</dict>
</plist>